{{> insideNavbar}}
<div class="container my-4 p-4 border">
  <h1>Create New Blog</h1>
  <hr />
  <form id="create-blog-form">
    <div class="mb-3">
      <label for="title" class="form-label">Blog Title</label>
      <input type="text" class="form-control" id="name" />
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">Body Content</label>
      <input type="text" class="form-control" id="description" />
    </div>
    <div class="d-grid gap-2 mb-3">
      <button class="btn btn-primary" type="submit">Create</button>
    </div>
  </form>
</div>