{{#if loggedIn }}
  {{> privateNavbar}}
{{else}}
  {{> publicNavbar}}
{{/if }}
<main>
  {{> banner}}
  <div class="d-flex flex-row justify-content-around flex-wrap">
    {{#each blogs as | blog |}}
      {{> blogCard}}
    {{/each}}
  </div>
</main>