 {{#if loggedIn}}
    {{#if isMyBlog}}
      <div class="my-2 text-center">
        <button class="btn btn-danger" type="button" id="delete-btn" data-id="{{project.id}}"><i class="far fa-trash-alt"></i><span class="px-2">Delete Project</span></button>
      </div>
    {{/if}}
  {{/if}}

  <div class="d-flex flex-row justify-content-around flex-wrap">
    <div class="card m-3 text-center" style="width: 100%">
      <div class="card-body">
        <h5 class="card-title">{{blog.name}}</h5>
        <h6 class="card-subtitle my-2 text-muted">By {{blog.user.username}}</h6>
        <hr />
        <p class="card-text">{{blog.description}}</p>
      </div>
    </div>
  </div>
</main>